<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://www.thymeleaf.org"
      th:replace="root::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link href="https://cdn.datatables.net/v/bs4/jqc-1.12.4/dt-1.13.6/datatables.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body class="bg-light">
<section>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
                    <div  th:if="${param.logout != null}" class="alert alert-success">Logout Successfully</div>
                    <div  th:if="${param.timeout != null}" class="alert alert-success">Session Timeout!</div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>
