<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://www.thymeleaf.org"
      th:fragment="Layout(content)">
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link href="https://cdn.datatables.net/v/bs4/jqc-1.12.4/dt-1.13.6/datatables.min.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar " data-bs-theme="dark">
<div class="container-fluid">
  <a class="navbar-brand" href="#">Prototype</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login">Login</a>
      </li>

      <li class="nav-item dropdown">
        <select class="nav-link dropdown-toggle" id="menu" name="menu" onchange="if (this.value) window.location.href=this.value">
          <option value="/dropdown" href="#">Dropdown</option>
          <option value="/DMSI">DMSI</option>
          <option value="/contact">Contacts</option>
          <option value="/product">Product</option>
        </select>
      </li>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <li class="nav-item">
        <a class="nav-link" href="logout">Logout</a>
      </li>

    </div>
  </div>
</nav>
	
	
	
	
<div th:replace="${content}"></div>
</body>
</html>